Repository deckhouse/deckhouse-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @mvasl, @alexey-igrychev, @ilya-lesikov, @trublast, @fl64, @diafour, @d2285

Added more stronghold commands
  cmd/stronghold.go
Owners: @trublast

mirror: update help copyrights
  cmd/delivery.go
  internal/backup/cmd/backup.go
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/cmd/etcd/etcd.go
  internal/mirror/cmd/mirror.go
  internal/mirror/cmd/modules/modules.go
  internal/mirror/cmd/modules/pull/pull.go
  internal/mirror/cmd/modules/push/push.go
  internal/mirror/cmd/pull/pull.go
  internal/mirror/cmd/push/push.go
  internal/mirror/cmd/vulndb/pull/pull.go
  internal/mirror/cmd/vulndb/push/push.go
  internal/mirror/cmd/vulndb/vulndb.go
  internal/platform/cmd/edit/cluster-configuration/cluster-configuration.go
  internal/platform/cmd/edit/edit.go
  internal/platform/cmd/edit/provider-cluster-configuration/provider-cluster-configuration.go
  internal/platform/cmd/edit/static-cluster-configuration/static-cluster-configuration.go
  internal/platform/cmd/platform.go
Owners: @alexey-igrychev, @ilya-lesikov, @name212, @mvasl, @d2285

mirror: update help copyrights
  cmd/delivery.go
  internal/backup/cmd/backup.go
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/cmd/etcd/etcd.go
  internal/mirror/cmd/mirror.go
  internal/mirror/cmd/modules/modules.go
  internal/mirror/cmd/modules/pull/pull.go
  internal/mirror/cmd/modules/push/push.go
  internal/mirror/cmd/pull/pull.go
  internal/mirror/cmd/push/push.go
  internal/mirror/cmd/vulndb/pull/pull.go
  internal/mirror/cmd/vulndb/push/push.go
  internal/mirror/cmd/vulndb/vulndb.go
  internal/platform/cmd/edit/cluster-configuration/cluster-configuration.go
  internal/platform/cmd/edit/edit.go
  internal/platform/cmd/edit/provider-cluster-configuration/provider-cluster-configuration.go
  internal/platform/cmd/edit/static-cluster-configuration/static-cluster-configuration.go
  internal/platform/cmd/platform.go
Owners: @alexey-igrychev, @ilya-lesikov, @name212, @mvasl, @d2285

deps: bump github.com/golang-jwt/jwt/v4 to v4.5.1
  go.mod
  go.sum
Owners: @name212, @mvasl

deps: bump github.com/golang-jwt/jwt/v4 to v4.5.1
  go.mod
  go.sum
Owners: @name212, @mvasl

Notes added by 'git notes append'
  c291e1111bc133db72a2772b6e8127f3825177bd
Owners: @name212, @mvasl

Notes added by 'git notes append'
  c291e1111bc133db72a2772b6e8127f3825177bd
Owners: @name212, @mvasl

Notes added by 'git notes append'
  c291e1111bc133db72a2772b6e8127f3825177bd
Owners: @name212, @mvasl

Notes added by 'git notes append'
  c291e1111bc133db72a2772b6e8127f3825177bd
Owners: @name212, @mvasl

Notes added by 'git notes append'
  b22a7eff5662382faea99f91c6b8e14e6db06676
Owners: @name212, @mvasl

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/operatemodule/listmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/module.go
Owners: @mvasl, @d2285

++
  cmd/module.go
Owners: @name212, @mvasl

deps: cve update
  go.mod
  go.sum
Owners: @name212, @mvasl

item 19958
  go.mod
  go.sum
Owners: @name212, @mvasl

item 32031
  go.mod
  go.sum
Owners: @name212, @mvasl

++
  internal/backup/cmd/etcd/etcd.go
  internal/platform/cmd/module/operatemodule/valuesmodule.go
  internal/platform/cmd/module/values/values.go
Owners: @name212, @mvasl, @d2285

++
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/operatemodule/valuesmodule.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/valuesmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/valuesmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/valuesmodule.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/valuesmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/valuesmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/valuesmodule.go
Owners: @mvasl, @d2285

mirror: keep metadata in tar bundle headers consistent
  pkg/libmirror/bundle/bundle.go
Owners: @name212, @mvasl

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/operatemodule/listmodule.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

mirror: keep order of oci image index manifests and their annotations consistent during marshaling
  internal/mirror/cmd/pull/pull.go
  pkg/libmirror/images/digests.go
  pkg/libmirror/layouts/indexes.go
  pkg/libmirror/layouts/indexes_test.go
  pkg/libmirror/layouts/layouts.go
  pkg/libmirror/layouts/layouts_test.go
Owners: @name212, @mvasl

mirror: keep metadata in tar bundle headers consistent
  pkg/libmirror/bundle/bundle.go
Owners: @name212, @mvasl

mirror: keep order of oci image index manifests and their annotations consistent during marshaling
  internal/mirror/cmd/pull/pull.go
  pkg/libmirror/images/digests.go
  pkg/libmirror/layouts/indexes.go
  pkg/libmirror/layouts/indexes_test.go
  pkg/libmirror/layouts/layouts.go
  pkg/libmirror/layouts/layouts_test.go
Owners: @name212, @mvasl

Notes added by 'git notes append'
  6211c171f4a248e17a079b8cf844c6749bbd0ed2
Owners: @name212, @mvasl

++
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

++
  go.mod
  go.sum
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/v1alpha1/module_config.go
Owners: @name212, @mvasl, @d2285

++
  internal/platform/cmd/module/v1alpha1/module_config.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/v1alpha1/module_config.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/v1alpha1/module_config.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/v1alpha1/v1alpha1.go
Owners: @mvasl, @d2285

.github/CODEOWNERS:

*                             @name212 @mvasl
/cmd/delivery.go              @alexey-igrychev @ilya-lesikov
/cmd/stronghold.go            @trublast
/cmd/virtualization.go        @fl64 @diafour
/internal/platform/           @mvasl @d2285
/internal/virtualization/     @fl64 @diafour
