Repository deckhouse/deckhouse-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @mvasl, @alexey-igrychev, @ilya-lesikov, @trublast, @fl64, @diafour, @d2285

++
  go.mod
  go.sum
Owners: @name212, @mvasl

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/v1alpha1/v1alpha1.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/module.go
Owners: @mvasl, @d2285

add option module to platform
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/flags/flags.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/v1alpha1/v1alpha1.go
  internal/platform/cmd/module/values/values.go
  internal/platform/cmd/platform.go
Owners: @mvasl, @d2285

adds in go.mod
  go.mod
Owners: @name212, @mvasl

++
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/flags/flags.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/values/values.go
  internal/platform/cmd/platform.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/values/values.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/snapshots/snapshots.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/enable/enable.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/disable/disable.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/list/list.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/module.go
  internal/platform/cmd/module/module.go
Owners: @mvasl, @d2285

Update internal/platform/cmd/module/module.go
  internal/platform/cmd/module/module.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/optionsmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/edit/editconfig/editconfig.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/switchmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/enable/enable.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/operatemodule/switchmodule.go
Owners: @mvasl, @d2285

++
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule_test.go
Owners: @mvasl, @d2285

hotfix edit provider-cluster-configuration
  internal/platform/cmd/edit/provider-cluster-configuration/provider-cluster-configuration.go
Owners: @mvasl, @d2285

add option module to platform
  go.mod
  internal/platform/cmd/edit/editconfig/editconfig.go
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/flags/flags.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule.go
  internal/platform/cmd/module/operatemodule/switchmodule_test.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/v1alpha1/v1alpha1.go
  internal/platform/cmd/module/values/values.go
  internal/platform/cmd/platform.go
Owners: @name212, @mvasl, @d2285

Add d8 platform queue option
  internal/platform/cmd/edit/cluster-configuration/cluster-configuration.go
  internal/platform/cmd/edit/edit.go
  internal/platform/cmd/edit/flags/flags.go
  internal/platform/cmd/edit/provider-cluster-configuration/provider-cluster-configuration.go
  internal/platform/cmd/edit/static-cluster-configuration/static-cluster-configuration.go
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/operatepod/operatepod.go
  internal/platform/cmd/platform.go
  internal/platform/cmd/queue/flags/flags.go
  internal/platform/cmd/queue/flags/validation.go
  internal/platform/cmd/queue/list/flags.go
  internal/platform/cmd/queue/list/list.go
  internal/platform/cmd/queue/mainqueue/mainqueue.go
  internal/platform/cmd/queue/operatequeue/operatequeue.go
  internal/platform/cmd/queue/queue.go
  internal/platform/flags/flags.go
Owners: @mvasl, @d2285

add d8 collect-debug-info option
  internal/platform/cmd/collect-debug-info/collect-debug-info.go
  internal/platform/cmd/collect-debug-info/createtarball/createtarball.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/operatepod/operatepod.go
  internal/platform/cmd/platform.go
Owners: @mvasl, @d2285

mirror: add missing copyrights
  internal/mirror/chunked/chunk_reader.go
  internal/mirror/cmd/pull/flags.go
  internal/mirror/cmd/pull/pull.go
  internal/mirror/cmd/pull/validation.go
  internal/mirror/cmd/push/push.go
  internal/mirror/cmd/push/validation.go
  internal/mirror/operations/pull_dkp.go
  internal/mirror/operations/pull_modules.go
  internal/mirror/operations/pull_security.go
  internal/mirror/operations/push_dkp.go
  internal/mirror/operations/push_modules.go
  internal/mirror/operations/push_security.go
  pkg/libmirror/bundle/validation.go
  pkg/libmirror/layouts/indexes.go
  pkg/libmirror/layouts/indexes_test.go
  pkg/libmirror/layouts/push_test.go
  pkg/libmirror/operations/push.go
  pkg/libmirror/util/log/debug.go
  pkg/libmirror/util/log/slog.go
  pkg/libmirror/util/retry/retry.go
  pkg/libmirror/util/retry/retry_test.go
  pkg/libmirror/util/retry/task/constant_interval.go
  pkg/libmirror/validation/registry_access.go
  pkg/libmirror/validation/registry_access_test.go
  testing/util/mirror/registry.go
Owners: @name212, @mvasl

--release mirror from dev
  internal/mirror/cmd/pull/pull.go
  internal/mirror/cmd/pull/validation.go
  pkg/libmirror/layouts/layouts.go
Owners: @name212, @mvasl

only ea release channel
  trdl_channels.yaml
Owners: @name212, @mvasl

Ignore empty release-channels layout
  pkg/libmirror/bundle/validation.go
Owners: @name212, @mvasl

Update push.go
  pkg/libmirror/layouts/push.go
Owners: @name212, @mvasl

Update push.go
  pkg/libmirror/layouts/push.go
Owners: @name212, @mvasl

Update push_test.go
  pkg/libmirror/layouts/push_test.go
Owners: @name212, @mvasl

hotfix edit provider-cluster-configuration
  internal/backup/cmd/backup.go
  internal/backup/cmd/loki/flags.go
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

.github/CODEOWNERS:

*                             @name212 @mvasl
/cmd/delivery.go              @alexey-igrychev @ilya-lesikov
/cmd/stronghold.go            @trublast
/cmd/virtualization.go        @fl64 @diafour
/internal/platform/           @mvasl @d2285
/internal/virtualization/     @fl64 @diafour
