Repository deckhouse/deckhouse-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @mvasl, @alexey-igrychev, @ilya-lesikov, @trublast, @fl64, @diafour, @d2285

.github/CODEOWNERS:

*                             @name212 @mvasl
/cmd/delivery.go              @alexey-igrychev @ilya-lesikov
/cmd/stronghold.go            @trublast
/cmd/virtualization.go        @fl64 @diafour
/internal/platform/           @mvasl @d2285
/internal/virtualization/     @fl64 @diafour

go
  cmd/debug.go
Owners: @name212, @mvasl

Change error to warn
  internal/mirror/operations/pull_modules.go
Owners: @name212, @mvasl

Change error to warn
  internal/mirror/operations/pull_modules.go
Owners: @name212, @mvasl

mirror: validate source registry availability more granularly
  internal/mirror/cmd/pull/pull.go
  internal/mirror/cmd/push/push.go
  internal/mirror/operations/pull_modules.go
  pkg/libmirror/validation/registry_access.go
  pkg/libmirror/validation/registry_access_test.go
Owners: @name212, @mvasl

++
  go.mod
  go.sum
Owners: @name212, @mvasl

++
  go.mod
  go.sum
Owners: @name212, @mvasl

++
  go.mod
  go.sum
Owners: @name212, @mvasl

utilk8s: support default context overrides
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/cmd/etcd/etcd.go
  internal/backup/cmd/flags.go
  internal/backup/cmd/loki/loki.go
  internal/platform/cmd/collect-debug-info/collect-debug-info.go
  internal/platform/cmd/edit/editconfig/editconfig.go
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/list/list.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/values/values.go
  internal/platform/cmd/queue/list/list.go
  internal/platform/cmd/queue/mainqueue/mainqueue.go
  internal/platform/flags/flags.go
  internal/utilk8s/clientset.go
Owners: @name212, @mvasl, @d2285

bump versions cve's vulnerabilities dependencies
  go.mod
  go.sum
Owners: @name212, @mvasl

go
  cmd/kubectl.go
Owners: @name212, @mvasl

go
  cmd/kubectl.go
Owners: @name212, @mvasl

go
  cmd/kubectl.go
Owners: @name212, @mvasl

go
  cmd/kubectl.go
Owners: @name212, @mvasl

go
  cmd/kubectl.go
Owners: @name212, @mvasl

mirror: add `--modules-path-suffix` flag to push operation as well
  internal/mirror/cmd/pull/pull.go
  internal/mirror/cmd/push/flags.go
  internal/mirror/cmd/push/push.go
  internal/mirror/operations/push_modules.go
  pkg/libmirror/operations/params/base.go
  pkg/libmirror/operations/params/pull.go
Owners: @name212, @mvasl

mirror: add `--modules-path-suffix` flag to push operation as well
  internal/mirror/cmd/pull/pull.go
  internal/mirror/cmd/push/flags.go
  internal/mirror/cmd/push/push.go
  internal/mirror/operations/push_modules.go
  pkg/libmirror/operations/params/base.go
  pkg/libmirror/operations/params/pull.go
Owners: @name212, @mvasl

bump versions cve's vulnerabilities dependencies
  go.mod
  go.sum
Owners: @name212, @mvasl

[mirror] fix forgotten hardcoded module suffix path
  internal/mirror/operations/push_modules.go
Owners: @name212, @mvasl

Signed release channels
  trdl_channels.yaml
Owners: @name212, @mvasl

Notes added by 'git notes append'
  8caa6a0b3dfbdf8ef5c95d7c4d8f1f010b372afc
Owners: @name212, @mvasl

Fix cluster-config backup
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/configs/crds/custom_resources.go
Owners: @name212, @mvasl

Update internal/backup/configs/crds/custom_resources.go
  internal/backup/configs/crds/custom_resources.go
Owners: @name212, @mvasl

Fix cluster-config backup
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/configs/crds/custom_resources.go
Owners: @name212, @mvasl

Update internal/backup/configs/crds/custom_resources.go
  internal/backup/configs/crds/custom_resources.go
Owners: @name212, @mvasl

go
  cmd/kubectl.go
Owners: @name212, @mvasl

go
  cmd/kubectl.go
Owners: @name212, @mvasl

Replace parallel by lo
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/configs/configmaps/backup.go
  internal/backup/configs/secrets/backup.go
Owners: @name212, @mvasl

avoid panic argument if module name was not provided
  internal/platform/cmd/module/disable/disable.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

Add compression option to cluster-config backup
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/cmd/cluster-config/flags.go
  internal/backup/configs/compress/compress.go
  internal/backup/configs/compress/compress_test.go
Owners: @name212, @mvasl

change error comment on more constructively
  internal/platform/cmd/module/values/values.go
Owners: @mvasl, @d2285

change error comment on more constructively
  internal/platform/cmd/module/enable/enable.go
Owners: @mvasl, @d2285

change error comment on more constructively
  internal/platform/cmd/module/disable/disable.go
Owners: @mvasl, @d2285

Move compress to tarball/backup.go
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/configs/compress/compress.go
  internal/backup/configs/compress/compress_test.go
  internal/backup/configs/tarball/backup.go
Owners: @name212, @mvasl

Update internal/backup/configs/tarball/backup.go
  internal/backup/configs/tarball/backup.go
Owners: @name212, @mvasl

Update internal/backup/configs/tarball/backup.go
  internal/backup/configs/tarball/backup.go
Owners: @name212, @mvasl

Move compress to tarball/backup.go
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/configs/compress/compress.go
  internal/backup/configs/compress/compress_test.go
  internal/backup/configs/tarball/backup.go
Owners: @name212, @mvasl

Update internal/backup/configs/tarball/backup.go
  internal/backup/configs/tarball/backup.go
Owners: @name212, @mvasl

Add compression option to cluster-config backup
  internal/backup/cmd/cluster-config/cluster_config.go
  internal/backup/cmd/cluster-config/flags.go
  internal/backup/configs/compress/compress.go
  internal/backup/configs/compress/compress_test.go
Owners: @name212, @mvasl

Update internal/backup/configs/tarball/backup.go
  internal/backup/configs/tarball/backup.go
Owners: @name212, @mvasl

change error comment on more constructively
  internal/platform/cmd/module/disable/disable.go
Owners: @mvasl, @d2285
