Repository deckhouse/deckhouse-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @mvasl, @alexey-igrychev, @ilya-lesikov, @trublast, @fl64, @diafour, @d2285

++
  cmd/helpjson.go
Owners: @name212, @mvasl

++
  cmd/helpjson.go
Owners: @name212, @mvasl

move operatepod package to utilsk8s
  internal/platform/cmd/collect-debug-info/debugTar/debugTar.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/queue/operatequeue/operatequeue.go
  internal/utilk8s/operatepod.go
Owners: @mvasl, @d2285, @name212

move operatepod package to utilsk8s
  internal/platform/cmd/collect-debug-info/debugTar/debugTar.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/queue/operatequeue/operatequeue.go
  internal/utilk8s/operatepod.go
Owners: @mvasl, @d2285, @name212

++
  cmd/helpjson.go
Owners: @name212, @mvasl

++
  cmd/helpjson.go
Owners: @name212, @mvasl

++
  cmd/helpjson.go
Owners: @name212, @mvasl

fix(dk): panic in `removeKubectlCmd()`
  cmd/delivery.go
Owners: @alexey-igrychev, @ilya-lesikov

++
  cmd/helpjson.go
Owners: @name212, @mvasl

++
  cmd/helpjson.go
Owners: @name212, @mvasl

chore: bump alpha channel
  trdl_channels.yaml
Owners: @name212, @mvasl

Notes added by 'git notes append'
  73f43026b06d1aeb046aa4f21964b367c2677de1
Owners: @name212, @mvasl

Notes added by 'git notes append'
  c641b2e058f78e17a3cbb27e6113a269d68ac587
Owners: @name212, @mvasl

Notes added by 'git notes append'
  c641b2e058f78e17a3cbb27e6113a269d68ac587
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

add backup loki option
  internal/backup/cmd/backup.go
  internal/backup/cmd/loki/flags.go
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/flags.go
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

fix errors directives
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

fix errors directives
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/utilk8s/operatepod.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
  internal/utilk8s/operatepod.go
Owners: @name212, @mvasl

.github/CODEOWNERS:

*                             @name212 @mvasl
/cmd/delivery.go              @alexey-igrychev @ilya-lesikov
/cmd/stronghold.go            @trublast
/cmd/virtualization.go        @fl64 @diafour
/internal/platform/           @mvasl @d2285
/internal/virtualization/     @fl64 @diafour
