Repository deckhouse/deckhouse-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yalosev, @ldmonster, @alexey-igrychev, @ilya-lesikov, @trublast, @fl64, @diafour

Bump stronghold version to 1.16. Added namespaces
  cmd/stronghold.go
  go.mod
  go.sum
Owners: @trublast, @yalosev, @ldmonster

Notes added by 'git notes append'
  25/3960bbf287d15142edf15bb2ae45983064b9d5
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  25/3960bbf287d15142edf15bb2ae45983064b9d5
Owners: @yalosev, @ldmonster

d8 v0.18.0 for trdl channels
  trdl_channels.yaml
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  ed/9542f43285d1c63b1d68bca5d3f11066b0f895
Owners: @yalosev, @ldmonster

fix
  internal/dataexport/cmd/download/download.go
  internal/dataexport/cmd/list/list.go
  internal/dataexport/util/constants.go
Owners: @yalosev, @ldmonster

test
  go.mod
  go.sum
  internal/dataexport/cmd/download/download.go
  internal/dataexport/cmd/download/download_http_test.go
  internal/dataexport/cmd/list/list.go
  internal/dataexport/cmd/list/list_http_test.go
  internal/dataexport/util/constants.go
  internal/dataexport/util/util.go
  internal/dataexport/util/util_test.go
Owners: @yalosev, @ldmonster

Add alias to d8 help command
  internal/system/cmd/system.go
Owners: @yalosev, @ldmonster

[fix] incorrect message
  internal/utilk8s/operatepod.go
Owners: @yalosev, @ldmonster

[deckhouse-cli] add neuvector security database support
  internal/mirror/operations/pull_security.go
  internal/mirror/operations/push_security.go
  pkg/libmirror/bundle/validation.go
  pkg/libmirror/layouts/layouts.go
  pkg/libmirror/layouts/pull.go
  pkg/libmirror/layouts/pull_test.go
Owners: @yalosev, @ldmonster

[deckhouse-cli] bump d8
  go.mod
  go.sum
Owners: @yalosev, @ldmonster

[deckhouse-cli] update d8 mirror functionality
  internal/mirror/cmd/pull/flags.go
  internal/mirror/cmd/pull/pull.go
  internal/mirror/operations/pull_security.go
  internal/mirror/operations/push_modules.go
  internal/mirror/operations/push_security.go
  pkg/libmirror/bundle/validation.go
  pkg/libmirror/layouts/layouts.go
  pkg/libmirror/layouts/pull.go
  pkg/libmirror/layouts/pull_test.go
  pkg/libmirror/modules/modules.go
  pkg/libmirror/operations/params/pull.go
Owners: @yalosev, @ldmonster

[deckhouse-cli] update d8 mirror functionality
  internal/mirror/operations/pull_modules.go
  pkg/libmirror/modules/modules.go
Owners: @yalosev, @ldmonster

[deckhouse-cli] update d8 mirror functionality
  pkg/libmirror/layouts/layouts.go
  pkg/libmirror/modules/modules.go
Owners: @yalosev, @ldmonster

change the way kubeconfig is obtained
  cmd/kubectl.go
Owners: @yalosev, @ldmonster

[deckhouse-cli] update extra_images.json
  pkg/libmirror/modules/modules.go
Owners: @yalosev, @ldmonster

[deckhouse-cli] update pulling and handling mechanisms
  internal/mirror/operations/pull_modules.go
  pkg/libmirror/modules/modules.go
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  88/561b2d79812c54c160afd941a865f286030928
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  88/561b2d79812c54c160afd941a865f286030928
Owners: @yalosev, @ldmonster

d8 v0.18.1 for trdl channels
  trdl_channels.yaml
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  68/c54160d5efb7693951a933fe8d1b5d63b52c73
Owners: @yalosev, @ldmonster

[feature] add extra images support to mirror (#164)
  go.mod
  go.sum
  internal/mirror/cmd/pull/flags.go
  internal/mirror/cmd/pull/pull.go
  internal/mirror/operations/pull_modules.go
  internal/mirror/operations/pull_security.go
  internal/mirror/operations/push_modules.go
  pkg/libmirror/layouts/layouts.go
  pkg/libmirror/layouts/pull.go
  pkg/libmirror/layouts/pull_test.go
  pkg/libmirror/modules/modules.go
  pkg/libmirror/operations/params/pull.go
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  28/12988b59b7ca8d0dd6bb5302c3379eeaf97e7b
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  28/12988b59b7ca8d0dd6bb5302c3379eeaf97e7b
Owners: @yalosev, @ldmonster

Signed release channels
  trdl_channels.yaml
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  40/ab919e42378b7000bb2e2d2606124ca2d31beb
Owners: @yalosev, @ldmonster

[deckhouse-cli] add lts channel support
  internal/mirror/operations/utils.go
  internal/mirror/releases/versions.go
  pkg/libmirror/modules/modules.go
Owners: @yalosev, @ldmonster

feat(virtualiztion): upgrade to v1.0.0
  cmd/virtualization.go
  go.mod
  go.sum
Owners: @fl64, @diafour, @yalosev, @ldmonster

[deckhouse-cli] add lts channel support (#165)
  internal/mirror/operations/utils.go
  internal/mirror/releases/versions.go
  pkg/libmirror/modules/modules.go
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  18/7a9cef9c6780b9efcf04a4e5e2661c1ecc802d
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  18/7a9cef9c6780b9efcf04a4e5e2661c1ecc802d
Owners: @yalosev, @ldmonster

Signed release channels
  trdl_channels.yaml
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  5b/dd1890165632095054b40a5d974aa5a658e822
Owners: @yalosev, @ldmonster

feat(virtualiztion): upgrade to v1.0.0 (#166)
  cmd/virtualization.go
  go.mod
  go.sum
Owners: @fl64, @diafour, @yalosev, @ldmonster

Notes added by 'git notes append'
  7c/f421b99c44142f2c104100b78d2c57176e3ef3
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  7c/f421b99c44142f2c104100b78d2c57176e3ef3
Owners: @yalosev, @ldmonster

Signed release channels
  trdl_channels.yaml
Owners: @yalosev, @ldmonster

Notes added by 'git notes append'
  ec/e212acf8ae4e6df8d0a74301fdb3f867fa20dc
Owners: @yalosev, @ldmonster

init
  .gitignore
  .golangci.yaml
  Taskfile.yml
  cmd/backup.go
  cmd/commands/delivery.go
  cmd/commands/kubectl.go
  cmd/commands/login.go
  cmd/commands/stronghold.go
  cmd/commands/utils.go
  cmd/commands/virtualization.go
  cmd/d8/helpjson.go
  cmd/d8/main.go
  cmd/d8/root.go
  cmd/system.go
  cmd/virtualization.go
  internal/dataexport/cmd/dataexport.go
  main.go
Owners: @yalosev, @ldmonster, @fl64, @diafour

move helpjson
  cmd/commands/helpjson.go
  cmd/d8/root.go
Owners: @yalosev, @ldmonster

.github/CODEOWNERS:

*                             @yalosev @ldmonster
/cmd/delivery.go              @alexey-igrychev @ilya-lesikov
/cmd/stronghold.go            @trublast
/cmd/virtualization.go        @fl64 @diafour
/internal/virtualization/     @fl64 @diafour
