Repository deckhouse/deckhouse-cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @name212, @mvasl, @alexey-igrychev, @ilya-lesikov, @trublast, @fl64, @diafour, @d2285

Notes added by 'git notes append'
  8f70ecb2c87bc7f98945dfd0d051519684240f0a
Owners: @name212, @mvasl

Notes added by 'git notes append'
  a54c874fe4946172a3d6a6486143ab88ba4f88b7
Owners: @name212, @mvasl

Notes added by 'git notes append'
  a54c874fe4946172a3d6a6486143ab88ba4f88b7
Owners: @name212, @mvasl

+
  .github/workflows/trdl_releaser.yml
  dockerfile
  trdl.yaml
Owners: @name212, @mvasl

+
  trdl.yaml
Owners: @name212, @mvasl

+
  trdl.yaml
Owners: @name212, @mvasl

fix errors directives
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

add d8 collect-debug-info option
  internal/platform/cmd/collect-debug-info/collect-debug-info.go
  internal/platform/cmd/collect-debug-info/debugTar/debugTar.go
  internal/platform/cmd/module/operatemodule/optionsmodule.go
  internal/platform/cmd/operatepod/operatepod.go
  internal/platform/cmd/platform.go
Owners: @mvasl, @d2285

Add d8 platform queue option
  internal/platform/cmd/collect-debug-info/debugTar/debugTar.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/values/values.go
  internal/platform/cmd/operatepod/operatepod.go
  internal/platform/cmd/platform.go
  internal/platform/cmd/queue/flags/flags.go
  internal/platform/cmd/queue/flags/validation.go
  internal/platform/cmd/queue/list/flags.go
  internal/platform/cmd/queue/list/list.go
  internal/platform/cmd/queue/mainqueue/mainqueue.go
  internal/platform/cmd/queue/operatequeue/operatequeue.go
  internal/platform/cmd/queue/queue.go
Owners: @mvasl, @d2285

Add d8 platform queue option
  internal/platform/cmd/collect-debug-info/debugTar/debugTar.go
  internal/platform/cmd/module/enable/enable.go
  internal/platform/cmd/module/module.go
  internal/platform/cmd/module/snapshots/snapshots.go
  internal/platform/cmd/module/values/values.go
  internal/platform/cmd/operatepod/operatepod.go
  internal/platform/cmd/platform.go
  internal/platform/cmd/queue/flags/flags.go
  internal/platform/cmd/queue/flags/validation.go
  internal/platform/cmd/queue/list/flags.go
  internal/platform/cmd/queue/list/list.go
  internal/platform/cmd/queue/mainqueue/mainqueue.go
  internal/platform/cmd/queue/operatequeue/operatequeue.go
  internal/platform/cmd/queue/queue.go
Owners: @mvasl, @d2285

++
  .github/workflows/trdl_releaser.yml
Owners: @name212, @mvasl

++
  internal/backup/cmd/loki/loki.go
Owners: @name212, @mvasl

- added instructions on building - bumped Stronghold's packages version - fixed vault/hcp_link preventing from build - added `version` command to `d8 stronghold`
  README.md
  cmd/stronghold.go
  go.mod
Owners: @name212, @mvasl, @trublast

- updated go.sum and go.mod
  go.mod
  go.sum
Owners: @name212, @mvasl

- Readme update
  README.md
Owners: @name212, @mvasl

[chore] trdl build fix (#96)
  dockerfile
  trdl.yaml
Owners: @name212, @mvasl

Update README.md with installation instructions
  README.md
Owners: @name212, @mvasl

cluster-config backup: allow labeled cluster-scoped CRD's
  internal/backup/configs/crds/custom_resources.go
Owners: @name212, @mvasl

cluster-config backup: allow labeled cluster-scoped CRD's
  internal/backup/configs/crds/custom_resources.go
Owners: @name212, @mvasl

platform edit: use editor from environment if present
  internal/platform/cmd/edit/flags/flags.go
Owners: @mvasl, @d2285

++
  cmd/help.go
Owners: @name212, @mvasl

++
  cmd/help.go
Owners: @name212, @mvasl

++
  cmd/help.go
Owners: @name212, @mvasl

++
  cmd/help.go
Owners: @name212, @mvasl

++
  cmd/help.go
Owners: @name212, @mvasl

++
  cmd/helpjson.go
Owners: @name212, @mvasl

++
  cmd/helpjson.go
Owners: @name212, @mvasl

++
  cmd/helpjson.go
Owners: @name212, @mvasl

Notes added by 'git notes append'
  5a806bbb090d079fdc8e7420a7a67272e3a18314
Owners: @name212, @mvasl

.github/CODEOWNERS:

*                             @name212 @mvasl
/cmd/delivery.go              @alexey-igrychev @ilya-lesikov
/cmd/stronghold.go            @trublast
/cmd/virtualization.go        @fl64 @diafour
/internal/platform/           @mvasl @d2285
/internal/virtualization/     @fl64 @diafour
